.f5footer {
    border-style: solid;
    border-color: #<!--#if expr='v("HTTPS") = "on"' --><!--#echo var="F5DEMO_COLOR_SSL"--><!--#else --><!--#echo var="F5DEMO_COLOR"--><!--#endif-->;
    border-width: 5px;
   }

.f5footer span::after {
    content: "<!--#echo var="F5DEMO_SHORT_NODENAME"-->";
}

    