.navbar-default {
  background-color: #fff;
  border-color: #f5demo_color;
  border-width: 4px;
/*  background-repeat: no-repeat;  		
  background-image: url("/img/logo.svg");
  background-size: 45px 45px;
  background-position: center center; */
}
.f5menu span::after {
    content: "server_hostname";
}
