header add X-COLOR %{F5DEMO_COLOR}e
Options -MultiViews +FollowSymLinks
RewriteEngine On

# for basic auth / bearer tokens
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
# for silex
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.php [QSA,L]
#RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{ENV:F5DEMO_APP}  "website"
RewriteRule ^index.shtml website.shtml
RewriteCond %{ENV:F5DEMO_APP}  "frontend"
RewriteRule ^index.shtml frontend.shtml
RewriteCond %{ENV:F5DEMO_APP}  "backend"
RewriteRule ^index.shtml backend.shtml

RewriteRule ^txt text.stxt

#RequestHeader set User-Agent "Frontend App/1.0"

#RewriteRule ^backend/.* "%{ENV:F5DEMO_BACKEND_URL}" [P]
#RewriteRule ^back-end/.* "%{ENV:F5DEMO_BACKEND_URL}" [P,E=HTTP_USER_AGENT:FOOBAR]

SetEnvIf F5DEMO_COLOR "red" HTTPS=on

PassEnv F5DEMO_NODENAME
PassEnv F5DEMO_COLOR
PassEnv HOSTNAME
PassEnv F5DEMO_SHORT_NODENAME
PassEnv F5DEMO_BACKEND_URL


